@model IEnumerable<SurfersLand.Models.Board>

@{
    ViewBag.Title = "Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Boards</h2>
<p>
    @Html.ActionLink("New Board", "New", "Boards", new {@class = "btn btn-primary"})
</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Board</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var board in Model)
    {
        <tr>
            <td>@Html.ActionLink(board.Name, "Edit", "Boards", new {id = board.Id}, null)</td>
            <td>@board.BoardType.Name</td>
        </tr>
    }
    </tbody>
</table>